.showcase{
    position: relative;
    z-index: 0;
    
    .lines{
        width: 100vw;
        
        .bg-lines{
            width: 50%;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        

            @media (min-width: 1200px){
                width: 30%;
            }
        }
    }
    

    .container{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

        .content{
            padding-top: 40px;
            padding-bottom: 40px;
            text-align: center;

            @media (min-width: 1200px){
                text-align: left;
            }



            h1{
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 40px;
                
                @media (min-width: 768px){
                    font-size: 70px;
                }

                @media (min-width: 1400px){
                    font-size: 86px;
                }
            }

            p{
                font-size: 20px;
                padding-top: 35px;
                padding-bottom: 16px;
                padding-left: 10px;
                padding-right: 10px;

                @media (min-width: 768px){
                    font-size: 40px;
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }

            a{
                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px){
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        img{
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px){
                display: block;
            }
        }
    }
}