$bg-color: #F0EFE9; //yellowish grey
$bg-accent:#BEEBFF; //lightblue
$dark: #191919; //dark grey
$light: #ffffff;//white
$theme-color:#F9D783; //yellow
$txt-accent: #F94D1C; //red
$accent: #7c7c7c; //light grey 
$footer-bg: #0E1021; //dark blue
$togmenu: #262626; //grey