
.section-title{
    padding-top: 70px;
    padding-bottom: 30px;

    @media (min-width: 768px){
        padding-top: 120px;
        padding-bottom: 90px;
    }
    
    p{
        color: $txt-accent;
        margin-bottom: 10px;
    }
    h2{
        color: $dark;
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 38px;
    
        @media (min-width: 1200px){
            font-size: 2.5rem;
        }
    }
}
